.block-recomendation {
  padding-block: 20px;

  &__container {
    display: grid;
    row-gap: 20px;
    padding-inline: var(--app-main-container-side-space);
  }

  &__head {
    display: grid;
    row-gap: 4px;
  }
}
