:root {
  --app-left-sidebar-width: 300px;
  // --app-left-sidebar-width: 72px;
  // --app-right-sidebar-width: 280px;
  --app-right-sidebar-width: 0;
  --app-player-bar-height: 72px;
  --app-panel-gap: 8px;
}

.app {
  display: grid;
  overflow-x: hidden;
  gap: var(--app-panel-gap);
  padding: var(--app-panel-gap);
  grid-template-areas:
    'left-sidebar main-view right-sidebar'
    'player-bar player-bar player-bar';
  grid-template-columns: minmax(auto, var(--app-left-sidebar-width)) auto minmax(
      auto,
      var(--app-right-sidebar-width)
    );
  grid-template-rows: 1fr auto;
  height: 100vh;

  &--left-sidebar-show {
    --app-left-sidebar-width: 72px;
  }
}

.left-sidebar {
  grid-area: left-sidebar;
  width: var(--app-left-sidebar-width);
  display: flex;
  flex-direction: column;
  gap: var(--app-panel-gap);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.main {
  grid-area: main-view;
  border-radius: 8px;
  overflow: hidden;
}

.right-sidebar {
  grid-area: right-sidebar;
  width: var(--app-right-sidebar-width);
}

.player-bar {
  grid-area: player-bar;
  height: var(--app-player-bar-height);
}
