@use 'styles/03-mixins/_common.mixins' as common;

.header {
  height: 64px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  &__container {
    display: flex;
    padding-inline: var(--app-main-container-side-space);
    gap: 8px;
    width: 100%;
  }

  &__page-navigation {
    display: flex;
    gap: 8px;
  }

  &__main {
    flex: 1;
  }

  &__page-navigation-button {
    @include common.animate(background-color);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0;
    color: rgb(var(--app-color-light));
    background-color: var(--app-color-dark-tinted-highlight);

    &:hover {
      background-color: rgb(var(--app-color-dark));
    }
  }
}

.user-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: var(--app-text-size-sm);
  color: rgb(var(--app-color-dark));
  background-color: rgb(var(--app-color-dark) / 0.5);
  border-radius: 50%;
  overflow: hidden;

  &:hover {
    color: rgb(var(--app-color-dark));
    background-color: rgb(var(--app-color-dark) / 0.72);
  }

  .btn__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: inherit;
    background-color: rgb(var(--app-color-blue));
  }
}
