@use 'styles/03-mixins/_common.mixins' as common;

.btn {
  @include common.animate(color background-color);

  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  font-weight: 700;
  color: var(--app-text-subdued);

  &--content-reversed {
    flex-direction: row-reverse;
  }

  &__text {
    display: flex;
    align-items: center;
  }

  &:hover {
    color: rgb(var(--app-color-light));
  }
}
